In [54]:
import csv

filename = "assignment_3_dataset.csv"

with open(filename, newline='', encoding='utf-8') as csvfile:
    reader = csv.reader(csvfile)
    header = next(reader)  # Read the header row
    print("Headers:", header)
    
    # Print first 5 rows
    for i, row in enumerate(reader):
        print(row)
        if i == 4:  # Stop after 5 rows
            break

Headers: ['', 'person', 'lang', 'z1000t', 'z0t', 'z1000mem', 'stmtL', 'z1000rel', 'm1000rel', 'whours', 'caps']
['0', 's018', 'c', '0.017', '0.017', '22432', '16.1', '98.1', '96.8', '16.1', '??']
['1', 's030', 'C', '', '0.033', '16968', '4.0', '76.47', '92.1', '4.0', '??']
['2', 's036', 'c', '20.9', '0.0', '11440', '8.2', '0.0', '89.5', '8.2', '??']
['3', 's066', 'C', '0.75', '0.467', '2952', '7.3', '98.48', '100.0', '7.3', '??']
['4', 's078', 'c', '0.05', '0.05', '22496', '10.9', '99.24', '98.4', '10.9', '??']

In [55]:
import pandas as pd

df = pd.read_csv('assignment_3_dataset.csv')

# Display all rows nicely
from IPython.display import display
display(
    df.head(10).style.set_table_styles([
        {'selector': 'th', 'props': [('border', '1px solid black')]},
        {'selector': 'td', 'props': [('border', '1px solid gray')]}
    ])
)

## Functions
- Declare functions here - can be called in later cells
- ensure function cell has been run

In [56]:
# Highlight values less than 10 in red
def highlight_red(val):
    return 'color: red' if val < 10 else ''

## Missing Values
- Columns with missing values: ...
- Decide how to handle them: drop rows, fill with mean/median, etc.

In [57]:
df.isna().sum()

Unnamed: 0    0
person        0
lang          0
z1000t        5
z0t           0
z1000mem      0
stmtL         3
z1000rel      0
m1000rel      0
whours        3
caps          2
dtype: int64

## Step 2: Data Cleaning

Before analyzing the dataset, it is important to ensure the data is complete and consistent. This step involves:

1. **Handling Missing Values**  
   - We check each column for missing values (`NaN`).  
   - Any rows with missing values are removed using `dropna()`.  
   - This ensures that calculations and visualizations are not affected by incomplete data.

2. **Creating a Cleaned Dataset**  
   - The cleaned dataset is stored in `df_clean`.  
   - We confirm that all missing values are removed by checking the sum of NaNs per column.

In [58]:
# Drop 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in df.columns:
    df = df.drop(columns=['Unnamed: 0'])

# Normalize the language names
df['lang'] = df['lang'].str.strip().str.lower()


# Drop rows with any NaN values
df_clean = df.dropna()

# Sort by 'lang' ascending and 'whours' descending
df_sorted = df_clean.sort_values(by=['lang', 'whours'], ascending=[True, False])

# Reorder columns
df_sorted = df_sorted[['person', 'lang', 'z1000t', 'z0t', 'z1000mem', 'stmtL', 'whours', 'z1000rel', 'm1000rel', 'caps']]

# Rename columns for clarity
df_renamed = df_sorted.rename(columns={
    'person': 'ID',
    'lang': 'language',
    'z1000t': 'run_z1000_time',
    'z0t': 'run_z0_time',
    'stmtL': 'LOC',
    'z1000mem': 'mem_z1000_kb',
    'whours': 'hours',
    'caps': 'self_rated'
})

# Limit displayed decimal places to 2
pd.options.display.float_format = "{:.2f}".format

# Identify numeric columns
numeric_cols = df_renamed.select_dtypes(include='number').columns

# Print row counts before and after cleaning
print("Original rows:", len(df))
print("Rows after dropping NaNs:", len(df_renamed))



# Display cleaned DataFrame
from IPython.display import display
display(
    df_renamed
    .style.format({col: "{:.2f}" for col in numeric_cols})
    # Highlight 'z1000rel' and 'm1000rel' columns with red if values are less than 10
    .map(highlight_red, subset=['z1000rel', 'm1000rel'])
    .set_table_styles([
        {'selector': 'th', 'props': [('border', '1px solid black')]},
        {'selector': 'td', 'props': [('border', '1px solid gray')]}
    ])
)

Original rows: 80
Rows after dropping NaNs: 71

In [59]:
import sys
print(sys.executable)

C:\Users\isakk\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe